<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chatroom | Talk with everyone</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body onload="connect()">

<div th:replace="fragments/header :: header"/>

<div class="sortDiv">
</div>

<div class="container">
    <div class="px-4 py-4 chat-box bg-white">
        <div th:switch="${posts}">
            <h2 th:case="null">Brak wiadomości!</h2>
            <div id="messages-box" th:case="*">
                <div class="card mb-4" th:each="post : ${posts}">
                    <div class="card-header p-1 px-3" th:classappend="${#authentication.getName().equals(post.getUser().getUsername())} ? 'bg-primary' : 'x'">
                        User <b th:text="${post.getUser().getUsername()}"></b> wrote on <i
                            th:text="${#dates.format(post.date, 'yyyy-MM-dd HH:mm')}"></i>:
                    </div>
                    <div class="card-body p-1 px-3 mt-1">
                        <p class="card-text" th:text="${post.getText()}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-white">
        <div sec:authorize="!isAuthenticated()">
            <div class="text-center"><p class="mt-2 h5 font-weight-bold">Please login to comment.</p></div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div class="input-group">
                <textarea cols="115" th:name="textareaMessage" id="textareaMessage" placeholder="Write message..."
                          required></textarea>
                <div class="input-group-append">
                    <input type="submit" class="btn btn-primary" id="buttonSend" value="Send" onclick="sendMessage()"/>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="mt-1">

<div class="container">
    <footer class="page-footer font-small stylish-color-dark ">
        <div class="footer-copyright text-center mb-3">© 2020 Copyright:
            <a href="https://github.com/toczak"> Patryk Potoczak</a>. All rights reserved.
        </div>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/chat.js}"></script>
<script th:src="@{/js/stomp.js}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

</body>
</html>