<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Chatroom | Register</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap.css}">
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="text-center">
<div th:replace="fragments/header :: header"/>

<form class="form-signin" method="post" th:action="@{/register}" th:object="${user}" enctype="utf8">
    <h1 class="h3 mb-3 font-weight-normal">Register</h1>
    <input type="text" th:field="*{username}" class="form-control mb-2" placeholder="Login" required="" autofocus="">
    <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
            class="validation-message"></label>
    <input type="email" th:field="*{email}" class="form-control mb-2" placeholder="Your e-mail" required="">
    <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
           class="validation-message"></label>
    <input type="password" th:field="*{password}" class="form-control mb-2" placeholder="Password" required="">
    <input type="password" th:field="*{matchingPassword}" class="form-control mb-2" placeholder="Repeat password" required="">
    <label th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}"
           class="validation-message"></label>
    <input class="btn btn-lg btn-primary btn-block" value="Register" type="submit"/>
</form>

</body>
</html>